.comment-list-container {
  padding: 20px;
  max-width: 70%;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.comment-header {
  display: flex;
  background: #e1e3e6;
  align-items: center;
  gap: 10px;
}

.comment-footer {
  display: flex;
  justify-content: right;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #939596;
  margin: 5px;
  font-size: 0.5em;
}

.username {
  font-weight: bold;
}

.comment-date {
  font-size: 0.85em;
  color: gray;
}

.comment-body {
  font-size: 1em;
  color: #333;
}

.add-root-comment {
  display: flex;
  justify-content: center;
  padding: 20px;
}


.comment-attachments {
  margin-top: 10px;
}

.text-file-preview {
  margin-top: 10px;
}

.text-file-preview a {
  display: block;
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.text-file-preview a:hover {
  text-decoration: underline;
}

.text-preview-content {
  background: #f8f9fa;
  padding: 8px;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 14px;
  color: #333;
  max-height: 100px;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}
